<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>エラーが発生しました</title>
</head>
<body>
    <h1>エラーが発生しました</h1>
    <p>申し訳ありません。何かエラーが発生しました。</p>
<footer>
</footer>
<section>
{% if constant("DEBUG") %}
    <h2>Error message</h2>
    <p>{{ eObject.getMessage() }} in {{ eObject.getFile() }}, line: {{ eObject.getLine() }}</p>
    <h3>Backtraces</h3>
    <ul>
    {% for exceptionThrowableBacktrace in eObject.getTrace() %}
    <li>{{ exceptionThrowableBacktrace.file }} in {{ exceptionThrowableBacktrace.line }}</li>
    {% endfor %}
    </ul>
{% endif %}
</section>
</body>
</html>

