<table>
    <form method="post">
    <tr>
        <th>html</th>
        <td>
            <textarea style="width: 100em; height: 100em;" name="html">{{ input|escape }}</textarea>
        </td>
    </tr>
    <tr>
        <th>send</th>
        <td style="text-align: center; width: 100%%;">
            <input style="text-align:center; margin:auto; width: 100%; height: 3em;" type="submit" name="submit" value="送信">
        </td>
    </tr>
    </form>
    </tr>
</table>
<table>
    <tr>
        <th>output</th>
        <td>
            <pre>{{ output|escape }}</pre>
        </td>
    </tr>
</table>
